@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
.vcenter {
  vertical-align: middle;
  float: none;
}

.wraper {
  margin: 0 auto;
  width: 980px;
  position: relative;
  background: #ece9d6 url(../images/noise.png);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .wraper {
    width: 436px;
  }
}

@media only screen and (max-width: 767px) {
  .wraper {
    width: 252px;
  }
}

.wraper .jumbotron {
  background: #ece9d6 url(../images/noise.png);
}

.wraper .jumbotron #social-bar-holder {
  float: left;
  width: 100%;
  position: relative;
  background: url(../images/transparent-dark.png);
  border-bottom: 1px solid #f4f3ea;
  padding-top: 14px;
  padding-bottom: 9px;
}

.wraper .jumbotron #social-bar-holder #social-bar {
  display: block;
  clear: left;
  float: right;
  position: relative;
  right: 50%;
  text-align: center;
}

.wraper .jumbotron #social-bar-holder #social-bar .dribbble a {
  background-image: url(../images/social/dribbble.png);
}

.wraper .jumbotron #social-bar-holder #social-bar .facebook a {
  background-image: url(../images/social/facebook.png);
}

.wraper .jumbotron #social-bar-holder #social-bar .forrst a {
  background-image: url(../images/social/forrst.png);
}

.wraper .jumbotron #social-bar-holder #social-bar .googleplus a {
  background-image: url(../images/social/googleplus.png);
}

.wraper .jumbotron #social-bar-holder #social-bar .twitter a {
  background-image: url(../images/social/twitter.png);
}

.wraper .jumbotron #social-bar-holder #social-bar li {
  display: block;
  float: left;
  left: 50%;
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
}

.wraper .jumbotron #social-bar-holder #social-bar li a {
  position: absolute;
  height: 64px;
  width: 32px;
  top: 0;
  left: 0px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.wraper .jumbotron nav {
  padding-top: 28px;
  padding-bottom: 20px;
  margin-top: 110px;
  margin-bottom: 25px;
  float: left;
  width: 100%;
  margin-top: 0px;
  position: relative;
  background: url(../images/nav.png) repeat-x top left;
  border-bottom: 1px solid #9d9b92;
}

.wraper .jumbotron nav .sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wraper .jumbotron nav .sf-menu a {
  position: relative;
  display: block;
}

.wraper .jumbotron nav #nav {
  clear: left;
  display: block;
  float: right;
  position: relative;
  right: 50%;
  text-align: center;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .wraper .jumbotron nav #nav {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .wraper .jumbotron nav #nav {
    display: none;
  }
}

.wraper .jumbotron nav #nav li {
  display: block;
  float: left;
  position: relative;
  left: 50%;
  font-family: mensch;
  word-spacing: -0.1em;
  font-size: 24px;
  margin-right: 0px;
  padding-left: 15px;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
  margin-left: 5px;
  margin-right: 5px;
}

.wraper .jumbotron nav #nav li span {
  padding-right: 15px;
}

.wraper .jumbotron nav #nav li a {
  display: block;
  line-height: 37px;
  height: 37px;
  color: #444444;
  text-shadow: 0px 1px 0 #ffffff;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}

.wraper .jumbotron nav #nav li:hover {
  background: url(../images/current-menu-item.png) no-repeat 0px -37px;
}

.wraper .jumbotron nav #nav li:hover span {
  display: block;
  background: url(../images/current-menu-item.png) no-repeat top right;
}

.wraper .jumbotron nav #nav li:hover a {
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.3);
}

.wraper .jumbotron nav #nav li .current-menu-item {
  background: url(../images/current-menu-item.png) no-repeat 0px -37px;
}

.wraper .jumbotron nav #nav li .current-menu-item span {
  display: block;
  background: url(../images/current-menu-item.png) no-repeat top right;
}

.wraper .jumbotron nav #nav li .current-menu-item a {
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.3);
}

.wraper .jumbotron nav #nav .current_page_item {
  background: url(../images/current-menu-item.png) no-repeat 0px -37px;
}

.wraper .jumbotron nav #nav .current_page_item span {
  display: block;
  background: url(../images/current-menu-item.png) no-repeat top right;
}

.wraper .jumbotron nav #nav .current_page_item a {
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.3);
}

.firstSection .initPage {
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
}

.firstSection .initPage .myImage {
  background-image: url(../images/yo_dianaa.jpg);
  background-size: contain;
  height: 300px;
  width: 400px;
  background-repeat: no-repeat;
  margin: 16% 1%;
}

.firstSection .initPage .start p {
  font-size: 2em;
  margin: 16% 1%;
}

.firstSection .initPage .btn {
  flex: 1 1 auto;
  margin: 10px auto;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.firstSection .initPage .btn:hover {
  background-position: right center;
  /* change the direction of the change here */
}

.firstSection .initPage .btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.firstSection .initPage .btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.firstSection .initPage .btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

body {
  text-decoration: none;
  background: #ece9d6 url(../images/fondo_rosa.png);
  font-family: "Roboto Mono", monospace;
  font-size: 1.4em;
}
 

 /*# sourceMappingURL= main.css.map */