@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
* {
  outline: 1px solid rgba(255, 0, 0, 0.8);
}

.vcenter {
  vertical-align: middle;
  float: none;
}

.fproyecto {
  margin-bottom: 30px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border: 3px solid #bcbcbc;
}

.hovereffect img {
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

section h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.wraper {
  margin: 0 auto;
  width: 980px;
  position: relative;
  background: #ece9d6 url(../img/noise.png);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .wraper {
    width: 436px;
  }
}

@media only screen and (max-width: 767px) {
  .wraper {
    width: 252px;
  }
}

.wraper .jumbotron {
  background: #ece9d6 url(../img/noise.png);
}

.wraper .jumbotron #social-bar-holder {
  float: left;
  width: 100%;
  position: relative;
  background: url(../images/transparent-dark.png);
  border-bottom: 1px solid #f4f3ea;
  padding-top: 14px;
  padding-bottom: 9px;
}

.wraper .jumbotron #social-bar-holder #social-bar {
  display: block;
  clear: left;
  float: right;
  position: relative;
  right: 50%;
  text-align: center;
}

.wraper .jumbotron #social-bar-holder #social-bar .dribbble a {
  background-image: url(../images/social/dribbble.png);
}

.wraper .jumbotron #social-bar-holder #social-bar .facebook a {
  background-image: url(../images/social/facebook.png);
}

.wraper .jumbotron #social-bar-holder #social-bar .forrst a {
  background-image: url(../images/social/forrst.png);
}

.wraper .jumbotron #social-bar-holder #social-bar .googleplus a {
  background-image: url(../images/social/googleplus.png);
}

.wraper .jumbotron #social-bar-holder #social-bar .twitter a {
  background-image: url(../images/social/twitter.png);
}

.wraper .jumbotron #social-bar-holder #social-bar li {
  display: block;
  float: left;
  left: 50%;
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
}

.wraper .jumbotron #social-bar-holder #social-bar li a {
  position: absolute;
  height: 64px;
  width: 32px;
  top: 0;
  left: 0px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.wraper .jumbotron nav {
  padding-top: 28px;
  padding-bottom: 20px;
  margin-top: 110px;
  margin-bottom: 25px;
  float: left;
  width: 100%;
  margin-top: 0px;
  position: relative;
  background: url(../img/nav-top.png) repeat-x top left;
  border-bottom: 1px solid #9d9b92;
}

.wraper .firstSection .initPage {
  height: 100%;
}

.wraper .firstSection .initPage .btn {
  flex: 1 1 auto;
  margin: 10px auto;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.wraper .firstSection .initPage .btn:hover {
  background-position: right center;
  /* change the direction of the change here */
}

.wraper .firstSection .initPage .btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.wraper .firstSection .initPage .btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.wraper .firstSection .initPage .btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

body {
  text-decoration: none;
  background: #ece9d6 url(../images/fondo_rosa.png);
}

body .boardBlack {
  position: relative;
  background: black;
  height: 100%;
  margin: 1.5% 1.5%;
  opacity: 1.7;
}

body .boardBlack .container {
  position: absolute;
  margin: 0 5%;
  max-width: 96%;
  max-height: 99%;
  height: 100%;
}

body .boardBlack .container #myCarousel {
  width: 100%;
  height: 90% !important;
  margin: 10% 0;
}

body h2 {
  padding-top: 7%;
  color: white;
  font-weight: bolder;
  text-align: center;
}

body #content {
  background-color: black;
  margin: 5%;
  background: black;
}

body #content .machine {
  margin: auto;
  display: table;
}

body #content .machine h1 {
  position: relative;
  float: left;
  background: black;
  color: #fff;
  font-size: 2.5em;
}

body #content .machine h1 span {
  position: absolute;
  right: 0;
  width: 0;
  background: black;
  border-left: 1px solid white;
  animation: escribir 5s steps(35) infinite alternate;
}

body .button {
  font-family: sans-serif;
  margin: 6% auto;
  width: 85%;
  background: #89609E;
  font-family: 'Lobster', cursive;
  font-size: 3.5vw;
  color: orange;
}

body .button .button:hover {
  background-color: #d7bde6;
}

body .demo {
  margin: 3%;
}

body .demo .skills {
  width: 1200px;
  height: 400px;
}

#myCarousel .nav a small {
  display: block;
}

#myCarousel .nav {
  background: #eee;
}

.nav-justified > li > a {
  border-radius: 0px;
}

.nav-pills > li[data-slide-to="0"].active a {
  background-color: #16a085;
}

.nav-pills > li[data-slide-to="1"].active a {
  background-color: #e67e22;
}

.nav-pills > li[data-slide-to="2"].active a {
  background-color: #2980b9;
}

.nav-pills > li[data-slide-to="3"].active a {
  background-color: #8e44ad;
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
 

 /*# sourceMappingURL= main.css.map */